* {margin: 0; padding: 0;}

.container { max-width: 1140px; margin: 0 auto;}


body {
    font-family: sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url("../assets/img/back_knhk.jpg"); 
    background-size: cover; /* Покрытие всего доступного пространства */
    background-attachment: fixed; /* Фиксирование фона на месте */
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Устанавливаем z-index, чтобы фон был под контентом */
    pointer-events: none; /* Устанавливаем, чтобы псевдоэлемент не перехватывал события мыши */
    background: rgba(0, 0, 0, 0.4);
}
/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
